.campo{
    margin: 24px 0;
    font-family: var(--font-montserrat);
}

.campo label{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    color: #212121;
}

.campo input{
    width: 100%;
    padding: 30px 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
    border: none;
    outline-color: var(--colour-main-blue);
    font-size: 16px;
    box-sizing: border-box;
}

.campo input::placeholder{
    color: #AFAFAF;
    font-family: var(--font-montserrat);
    font-size: 16px;
    font-weight: 400;
}

.campo-color input{
    height: 40px;
    padding: 5px 20px;
}
